* {padding: 0 
   margin: 0;
   box-sizing:border-box;
  
  }
    
  body {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',  sans-serif;
    max-width: 1400px;
    margin: auto;
  }
  header {
    text-align: center;
    padding: 40px;
    color: rgb(91, 89, 87);

  }
  header h1 {
    font-size: 40px;
  }
  .card {
    max-width: 300px;
    height: auto;
    border: 5px solid gray;
    border-radius: 5px;
    text-align: center;
    background-color: #eee;
    color: midnightblue;
    padding: 20px;
    opacity: 0.5;

  }
  .card:hover{
    opacity: 1;
  }

  .card img{
    margin: 10px;
    min-height: 300px;
    border-radius: 5px;
  }
  h2,h3,h4,h5,h6 {
    text-decoration: underline;
    font-size: 30px;
  }

  #penlelope-list {
    list-style-type: none;
  }

  a, {
  a:active,
  a:visited {
    color: brown;
  }